*.pyc
__pycache__
*.pth
/DAV2/third_party/
/DAV2/metric_depth/checkpoints
/DAV2/checkpoints
/data

CMakeLists.txt.user
CMakeLists_modified.txt

ORB_SLAM3/Examples/RGB-D/rgbd_tum

ORB_SLAM3/Examples/Monocular/mono_euroc
ORB_SLAM3/Examples/Monocular/mono_kitti
ORB_SLAM3/Examples/Monocular/mono_tum
ORB_SLAM3/Examples/Monocular/mono_tum_vi

ORB_SLAM3/Examples/Stereo/stereo_euroc
ORB_SLAM3/Examples/Stereo/stereo_kitti
ORB_SLAM3/Examples/Stereo/stereo_tum_vi

ORB_SLAM3/Examples/Monocular-Inertial/mono_inertial_euroc
ORB_SLAM3/Examples/Monocular-Inertial/mono_inertial_tum_vi

ORB_SLAM3/Examples/Stereo-Inertial/stereo_inertial_euroc
ORB_SLAM3/Examples/Stereo-Inertial/stereo_inertial_tum_vi

ORB_SLAM3/Examples/ROS/ORB_SLAM3/Mono
ORB_SLAM3/Examples/ROS/ORB_SLAM3/Mono_Inertial
ORB_SLAM3/Examples/ROS/ORB_SLAM3/MonoAR
ORB_SLAM3/Examples/ROS/ORB_SLAM3/RGBD
ORB_SLAM3/Examples/ROS/ORB_SLAM3/Stereo
ORB_SLAM3/Examples/ROS/ORB_SLAM3/Stereo_Inertial

ORB_SLAM3/Examples/ROS/ORB_SLAM3/CMakeLists.txt.user
ORB_SLAM3/Examples/ROS/ORB_SLAM3/build/

KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
build/

lib/

cmake_modules/
cmake-build-debug/

*.pyc
*.osa
.vscode/settings.json
